body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --background-color: #dfe2f3;
  --button-color: #4f318a;
  --text-color: #260b59;
  --border-color: #c2bfdb;
  --hover-color: #a69492;

  --odd: #b8bedf;
  --even: #b0cdd9;
  --zero: #ffe0ae;

  --some2: #f5631a;
  --some3: #a2abce;
  --some: #ffa303;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
button {
  background-color: var(--button-color);
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  color: var(--background-color);
  padding: 0.8rem;
  margin: 1rem;
  width: 150px;
  height: 3em;
  border-radius: 5px;
  box-shadow: 2px 2px 0px var(--text-color);
  transition: all 0.3s;
}
button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}
header {
  background-color: var(--hover-color);
  color: var(--text-color);
  height: 100px;
  text-align: center;
  font-size: 2em;
  border-bottom: 10px solid var(--zero);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
  color: var(--text-color);
  height: 100px;
  padding: 2rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  background-color: var(--zero);
  color: var(--text-color);
  height: 25vh;
  width: 25vh;
  /*border: 3px solid var(--main-text-color);*/
  border-radius: 50%;
  border: 5px solid var(--hover-color);
  box-shadow: 2px 2px 20px var(--odd);
  transition: all ease 1;
}
.odd {
  background-color: var(--odd);
}
.even {
  background-color: var(--even);
}
